*, 
::before 
::after{ 
    box-sizing: border-box;  
} 

body{  
    width: 1600px;
}

/* kontener menu z nawigacją - wspólna dla wszystkich kart*/
.container{ 
    width: 1600px;  
    height: 80px;
    border: 1px solid rgba(236,236,236,1);
    margin: auto;
} 

.navigation-list{ 
   width: 1200px;
   height: 80px;
   display: flex; 
   justify-content: space-between;
   align-items: baseline; 
   margin-left: 215px; 
   padding: 0;
} 

.container-logo { 
    width: 145px; 
    height: 31px; 
    display: flex; 
    justify-content: space-between; 
    padding: 0; 
} 
  
.link-style-agency, .link-style-portfolio{
    padding-right: 46px;
}

.link{  
    display: flex;
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 371px;
    letter-spacing: 0.02em;
    padding-left: 0;     
} 
  
.contact-link { 
    justify-content: space-between;   
    display: flex;   
    align-items: center;
} 
 
.link-contact-mail-header{ 
    padding-right: 20px; 
}


.header-svg-mail, 
.header-svg-phone{ 
    margin-right: 10px; 

}

/* kontener z dużym tekstem i przyciskiem*/ 

.container-first{ 
    background-image: linear-gradient(#2f303a66,
     #2f303a66), url(../images/images4/backgroundimg.jpg);  
    background-repeat: no-repeat; 
    background-size: cover;
    color: #FFFFFF; 
    top: 80px;
    padding: 200px 452px 200px 452px;
    text-align: center; 
    margin: 0; 

} 
  
.large-text{ 
    width: 696px; 
}
 
/* sekcja z tekstem lorem*/ 

.container-second{ 
    width: 1200px; 
    margin: 94px 215px 94px 215px;
}
  
.list-text > li > svg{ 
    width: 270px; 
    height: 120px;   
}

.list-text{ 
    display: flex; 
    justify-content: space-between; 
    padding-left: 0; 

 }
 .list-text-li{ 
    width: 270px; 
    height: 251px;
 }

.list-text1{ 
    margin: auto;
} 

.list-text2{ 
     
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 94px;
} 
   
/* sekcja ze zdjęciami*/ 

.expert{ 
    text-align: center; 
    margin-top: 0; 
    margin-bottom: 50px;
} 

.list-expert{ 
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
    padding-left: 0px;
 }
  
.list-expert-img{ 
    margin-right: 30px;
}  

 /*sekcja z zespołem*/ 

.team{ 
    text-align: center;
} 

 .list-team{
    display: flex;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 94px;
 } 
  
.team-images{
    margin-right: 30px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}  
 
.social-link{
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.social-link:hover,
.social-link:focus {
    border-radius: 50%;
    cursor: pointer;
    background-color: #2196F3; 
}  

 .social-link:hover .social-link-icon,
 .social-link:focus .social-link-icon { 
  fill: #FFFFFF;   
 }

.social-link-icon{
    fill: #AFB1B8;
} 
.social-link-icon:hover,  
.social-link-icon:focus{ 
    fill: #FFFFFF;
}
 
/* lista nasi klienci ze zdjęciami SVG */  
  
.our-customers{
    border: 1px solid rgba(175, 177, 184, 1)
}

.our-customers-header{ 
text-align: center;
     
} 
.container-customers{
    width: 1170px; 
    height: 184px; 
    margin-left:auto; 
    margin-right: auto; 
    fill: #AFB1B8;
} 
  .our-customers:hover {
    border-color: #2196F3;
    fill: #2196F3;
  }

.our-customers-flex-container{  
    list-style: none;
    display: flex;
    justify-content: space-around; 
    cursor: pointer; 
    padding-left: 0;
}  

/* kontener ze stopą - wzpólna dla wszystkich kart*/ 
 
footer{ 
    width: 1600px; 
    height: 252px; 
    background-color: #2f303a;
}
.container-footer1{  
    display: flex; 
    margin-right: 170px; 
    align-items: center;
} 

.container-footer{ 
    width: 340px;
    margin-left: 215px;  
    padding-top: 60px;
 
} 
.box-footer{ 
    width: 270px; 
    height: 81px;
}
 
.list-adress{  
    display:block;
    padding-left: 0; 
    padding-right: auto;          
}   
 
.join-us{ 
    display:block; 
    color: #FFFFFF;
}
.social-footer-flex{ 
    display: inline-block; 
    margin-left: 70px;
}
.social-link-footer {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block; 
    box-sizing: border-box;
}


.social-link-icon-footer > svg > use {

fill: #FFFFFF;
}

.social-link-footer:hover,
.social-link-footer:focus {
    border-radius: 50%;
    cursor: pointer;
    background-color: #2196F3;
}


.social-link-footer:hover .social-link-icon-footer,
.social-link-footer:focus .social-link-icon-footer {
    fill: #FFFFFF;
}


/* page layout portfolio*/ 

  
.list-bth{ 
    display: flex;
    gap: 8px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: auto;
    padding-left: 0px;
    width: 572px;
    height: 54px;
    letter-spacing: 0.03em; 
    justify-content: center;
     
} 

.container-portfolio{ 
    width: 1170px; 
    height: 1360px;
    margin-left: 215px; 
    margin-right: 215px; 
    margin-top: 94px;  
    margin-bottom: 94px;
}
 
.list-works{ 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    flex-basis: calc((100% - 30px) / 3);
    margin: 0;
}  
 
.info-works{ 
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
} 
 
.list-works>li:hover {
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
    cursor: pointer;
}