.brand-logo-footer {
    text-decoration: none;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;


    .brand-footer__first-half-webstudio {
        color: $mainblueColorpage;
    }

    .brand-footer__second-half-webstudio {
        color: $mainwhiteColor;
    }
}