 @import './utils/vars';
 @import './components/page-indexbody'; 

 /*===webstudio brand===*/  

.container-header{

    &__navigation { 

    }

    &__logo { 
        width: 145px;
        height: 31px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    &__brand-logo {

        text-decoration: none; 
        display: flex;

        &__part1 { 
            
        }
        &__part2 { 
            color: $mainblueColorpage;
        }
    }
 
    &__link{
         
    } 
    &__link-list{ 
        list-style-type: none;
         
    } 
    &__card-agency{
         
    }
    &__underscore{ 

    } 
    &__card-portfolio{
         
    } 
    &__card-contact{
         
    } 
    &__contact{ 

    } 
    &__icon{ 

    } 
    &__icon-mail{ 

    } 
    &__link-mail{ 

    } 
    &__icon-phone{ 

    } 
    &__link-phone{
         
    }
}