.business{ 
    background-repeat: no-repeat;
    background-size: cover;
    top: 80px;
    padding: 200px 452px 200px 452px;
    text-align: center;
    margin: 0;  
 
    background-image: linear-gradient(#2f303a66,
    #2f303a66), url(../images/images4/backgroundimg.jpg); 
    color: $mainwhiteColor;


    &__large-text { 

    }
   
    &__bth1 {    

    background-color: $mainblueColorpage;
    color: $mainwhiteColor; 

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88em;
         
    width: 200px; 
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    }
}
  
